// Specific CSS for your home-page

.hero {
  display: flex;
  justify-content: center;
  padding-top: 150px;

  h1{
    font-family:Arial, sans-serif;
    font-size: 50px;
  }
}


.text-blue {
  color: #2562FF;
}

.custom-box {
  position: absolute;
  width: 1300px;
  height: 330px;
  left: 70px;
  top: 394px;
  background: #C5DBFF;
  border-radius: 10px;
  z-index: -1;
}

.about{
  width: 90vw;
  height: 100vh;
  margin: 20px auto
}
  .banner{
    height: 100vh
  }

  .about-text{
    display: flex;
    justify-content: center
  }
  .about-text h1{
    font-family:Arial, sans-serif;
    font-size: 50px;
  }

  .about-card{
  padding: 30px;
  background-color: #F5F5F5;
  width: 370px;
  height: 290px;
  border-radius: 8px;
  text-align: center

  }

  .about-container{

  }

  .about-card-custom-about-card{
    background-color: #2562FF;
    border-radius: 8px;
    text-align: center;
    color: #F5F5F5;
    height: 440px;
    width: 370px;
    padding: 30px;
    background-image: url("pablo-victory.png");
    background-position: center;
    background-size: 200px;
    background-repeat: no-repeat;
  }
