.mentor-info p{
  margin-top: 100px;
  font-size: 20px;
  opacity: 0.4
}

.mentor-info-container{
  text-align: center
}

.modal-dialog{
  max-width: 80vw
}

.string{
text-align: start;
}

.text {
  text-align: start;
  }

  .col-form-label{
    text-align: start
  }

  .form-check{
    text-align: start
  }

  .integer{
    text-align: start
  }
