.custom-card{
  padding: 40px;
  background-color: #F5F5F5;
  width: 390px;
  height: 320px;
  border-radius: 7px;
  position: relative;
}

body{
  width: 100vw;
}

.custom-avatar{
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

body{
  background-color: white;
}

.custom-show-btn{
  position: absolute;
  bottom: 11px;

}


.infos h2{
  font-size: 20px;
  font-weight: 700;
}

.infos p{
  
}
