<html>
  <head>



  </head>
  <body>
    <div class="hero">
      <h1><b>What mentor</b>
      <br>
      <span class="text-blue"><b>do you want?</b></span></h1>
    </div>
    <%= render 'shared/searchbar' %>

    <div class="custom-box"></div>

  </body>
</html>
