<html>
  <head>



  </head>
  <body>
  <section class="banner">
    <div class="hero">
      <h1><b>What mentor</b>
      <br>
      <span class="text-blue"><b>do you want?</b></span></h1>
    </div>
    <div style="width: 65vw; margin: 10px auto">
      <%= render 'shared/searchbar' %>
    </div>

    <div class="custom-box"></div>
</section>

<section class="about">
  <div class="about-container">
    <div class="about-text">
      <h1><b>everyone needs a</b>
      <span class="text-blue"><b> mentor</b></span></h1>
    </div>

    <div class="about-cards d-flex justify-content-between">
      <div class="about-card"></div>
      <div class="about-card"></div>
      <div class="about-card"></div>
    </div>
  </div>
</section>

  </body>
</html>
