.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.navbar {
  border-bottom: 1px solid;
}

.nav-item {
  width: max-content;
}

.container-info {
  display: flex;
  justify-content: space-between;
  width: 92vw;
  align-items: center;
}

.container-info p {
  margin: 0;
  padding: 0;
}

.container-fluid {
  display: flex;
  width: 100vw;
}

.avatar:hover {
  cursor: pointer;
}
