.searchbar{
  border-radius: 20px;
  position: relative;
}

.custom-button-search{
  position: absolute;
  top: 13.5px;
  right: 10px;
  border-radius: 20px;
}

.search-bar{
  padding:20px;
  border-radius: 20px;
}

.custom-home-search{
  width: 60vw;
  margin: 10px auto
}
